.nav {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.brandLink {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}


.links {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4ch;
    font-size: 1.2em;
}

.navLink {
    text-decoration: none;
    color: black;
}