<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{> common/script_blocks/chart }}
    {{> common/script_blocks/sortable_tables }}
    {{> common/script_blocks/tailwind }}

    <title>Heat</title>
</head>
<body class=" dark:bg-gray-800 dark:text-gray-50">

{{> common/components/navbar }}
<article class="max-w-6xl px-6 py-24 mx-auto space-y-16 dark:bg-gray-800 dark:text-gray-50">
    <div class="w-full mx-auto space-y-4">
        <h1 class="text-5xl font-bold leading-none">
            Driver: {{name}}
        </h1>
    </div>
    <div class="dark:text-gray-100">
        <h2 class="text-4xl font-bold dark:text-white">
            Lap Times
        </h2>
        <p>
            The following chart gives an overview of all lap times driven in the heat including slow laps.
            To filter the laps you can select which type of lap to exclude or show by selecting it below the chart.
            <canvas id="chart-0" width="" height=""></canvas>

        </p>
        <br>
        <h2 class="text-4xl font-bold dark:text-white">
            Timeline
        </h2>
        <p>
            the following chart gives a different visualization of the driven laps.<br>
            This chart next to the lap time also shows you when the lap was driven this is used to more easely
            identify accidents or other events that slowed all drivers so that it can be filtered out.
            <canvas id="chart-1"></canvas>

        </p>
        <br>

        <h2 class="text-4xl font-bold dark:text-white">
            Drivers
        </h2>
        <p class="mb-6">
            The following table show the general stats of the driver. the table can be sorted by clicking on the column
            names.

        </p>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 sortable">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                {{#each table_data.headers as |header|}}
                    <th scope="col" class="px-6 py-3">
                        {{header}}
                    </th>
                {{/each}}
            </tr>
            </thead>
            <tbody>

            {{#each table_data.rows as |row|}}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    {{#each row as |data|}}
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{{data}}}
                        </th>
                    {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</article>

<script src="/static/js/heats/lapTimeChart.js"></script>
<script src="/static/js/heats/lapBarChart.js"></script>
<script>
    const data = JSON.parse(`{{{ toJson chart_data }}}`);

    const lineChartCanvas = document.getElementById(`chart-0`);
    const timeLineChartCanvas = document.getElementById(`chart-1`);

    // make the filter changeable
    const lineChart = lapTimeChart(data, lineChartCanvas);
    const timeLineChart = createLapBarChart(data, timeLineChartCanvas);
</script>
</body>
</html>