<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{> common/script_blocks/tailwind }}

    <style>

        .hero {

            background-image: url("https://www.groningerondernemerscourant.nl/uploads/nieuwsitempagina/6516c7e8-7e20-5813-b999-bf487c26880b/3273408542/Kartracing%20Groningen%201.jpg");
            background-size: cover;
        }

        .contain {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;

            padding: 12vw;
        }

        .contain > * {
            text-shadow: ;
        }

        .contain > p {
            text-align: center;
        }

        .contain > a {
            margin: 4em;
        }


        form {
            display: grid;
            grid-template-columns: min-content auto;
            gap: 2ch

        }

        form > label {
            width: 12ch !important;
        }

        form > .button {
            grid-column: 1/ -1;
        }

        form > p {
            grid-column: 1/ -1;
        }

    </style>

    <title>Document</title>
</head>
<body class=" dark:bg-gray-800 dark:text-gray-50">
{{> common/components/navbar}}

<div class="hero">
    <div class="contain">
        <h1 class="text-8xl font-bold dark:text-white mb-16">Find your rhythm</h1>
        <p>
            analyze all your own and your opponents laps.<br>
            KartAnalyzer has all the laps driven at Kartbaan Groningen and lets you analyze them to be you fastest self.
        </p>

        <a href="#add_new"
           class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add
            Your Heat</a>
    </div>
</div>

<main class="max-w-6xl px-6 py-24 mx-auto space-y-16 dark:bg-gray-800 dark:text-gray-50">

    <div id="add_new">
        <h2 class="text-4xl font-bold dark:text-white mb-16"> Add New Heat</h2>

        <form action="/api/heats/new" method="post">

            <label for="heat_id" class="text-sm font-medium text-gray-900 dark:text-white">HeatID</label>

            <input type="text" id="heat_id" name="heat_id"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="abcdefghijk1234567" required>

            <p>
                The heat id can be found in the url of the website provided to view the results of the heat.<br>
                when provided we will retrieve all data and display it.
            </p>


            <div class="button">

                <input type="submit"
                       value="Add Heat"
                       class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">

            </div>
        </form>

    </div>
</main>

</body>
</html>